<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <a href="{{url_for('home')}}" class="nav-itens">Home</a>
        <a href="{{url_for('plants')}}" class="nav-itens">Plantas</a>
        <a href="{{url_for('newPlant')}}" class="nav-itens">Cadastrar Plantas</a>
    </nav>
    {% block content %}

    {% endblock content %}
    
</body>
</html>