{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center mt-3">Cadastrar Plantas</h2>

    <form class="d-flex flex-column align-items-center" action="{{url_for('newPlant')}}" method="POST">
        <label>Nome Científico:</label>
        <input type="text" name="nomeCientifico">     
        <label>Nome Popular:</label>
        <input type="text" name="nomePop">     
        <label>Luminosidade:</label>
        <input type="text" name="luz">     
        <label>Rega:</label>
        <input type="text" name="rega">     
        <label>Adubação:</label>
        <input type="text" name="adubacao">
        <input class="btn btn-success mt-3" type="submit" value="Inserir planta">
    </form>

    <br><hr>
    <h2 class="text-center mt-3">Plantas Cadastradas</h2>
    <table class="table table-striped">
        <tr >
            <th>Nome Científico</th>
            <th>Nome Popular</th>
            <th>Luminosidade</th>
            <th>Rega</th>
            <th>Adubação</th>
            <th></th>
            <th></th>
        </tr>
        {% for plant in plantsList %}
        <tr>
            <td>{{plant.nomeCientifico}}</td>
            <td>{{plant.nomePop}}</td>
            <td>{{plant.luz}}</td>
            <td>{{plant.rega}}</td>
            <td>{{plant.adubacao}}</td>
            <td><a href="{{url_for('editPlant', id=plant.id)}}" class="btn btn-warning">Editar</a></td>
            <td><a href="{{url_for('newPlant', id=plant.id)}}" class="btn btn-danger" onclick="return confirm('Deseja excluir {{plant.nomePop}} da lista?')">Excluir</a></td>
        </tr>
        {% else %}
        <tr>
        <td colspan="4" class="text-center text-muted">
            Nenhuma planta cadastrada!
        </td>
        </tr>
        {% endfor %}
        <p style="text-align: center;">
            <!-- Se houver registros anteriores -->
            {% if plant.has_prev %}
                <a href="{{url_for('newPlant', page=plant.prev_num)}}"><< Anterior</a>
            {% endif %}
            <!-- Se houver próximos registros -->
            {% if plant.has_next %}
                <a href="{{url_for('newPlant', page=plant.next_num)}}">Próximo >></a>
        </p>
            {% endif %}
    </table>
{% endblock content %}